---
layout: govuk_template
---

<div class="breadcrumb">
  <nav role="navigation">
    <ol>
      <li><a href="/">Home</a></li>
     </ol>
  </nav>
</div>

<main role="main" class="main govuk">

  <div class="grid-wrapper">

    <div class="grid">
      <div class="inner-block">
        <div class="text">

          {% include prototype/_title.html %}

          <p class="lede">For no fee, you can find out</p>

          <ul class="list-bullet">
            <li>The Land registry title number</li>
            <li>The price paid for the property</li>
            <li>A map of the property</li>
            <li>Lease details</li>
            <li>Historical information</li>
          </ul>

        </div>
      </div>
    </div>


    <div class="grid">
      <div class="inner-block">

        <form class="form search-block search-page" action="/results-pages/results-page-1.html">

          <fieldset>
            <div class="form-group">
              <label class="form-label" for="search-terms">Search the land registry</label>
              <p class="form-hint">E.g. postcode, city or town, street name</p>
              <input type="text" class="form-control" id="search-terms" />
            </div>
          </fieldset>

          <div class="form-group">
            <input type="submit" class="button" value="Search" />
          </div>

        </form>

      </div>
    </div>


    {% include prototype/_tabs-users.html %}

    {% include prototype/_advanced-link.html %}


  </div>

</main>