---
layout: govuk_template
---

<div class="breadcrumb">
  <nav role="navigation">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="start-page-2.html">Find a property</a></li>
    </ol>
  </nav>
</div>

<main role="main" class="main govuk">

  <div class="grid-wrapper">

    <div class="grid">
      <div class="inner-block">
        <div class="text">

            {% include prototype/_title.html %}

        </div>
      </div>
    </div>


    <div class="grid">
      <div class="inner-block">

        {% include prototype/_map-search-fullpage.html %}

      </div>
    </div>

  </div>

</main>